# Managed by DevOpsToolkit
{% for port in ssh_listener_ports | unique %}
Port {{ port }}
{% endfor %}
PubkeyAuthentication yes
PermitEmptyPasswords no
ClientAliveInterval 300
ClientAliveCountMax 2
{% if ssh_effective_disable_root_login | bool %}
PermitRootLogin no
{% endif %}
{% if ssh_effective_disable_password_auth | bool %}
PasswordAuthentication no
KbdInteractiveAuthentication no
{% endif %}
